:root {
  --fill-color: brown;
}

#mycontainer {
  /* represents any container the component is inserted into */
  position: relative;
  margin: auto;
}

/**
 * The container for actual product component
 *
 * Controls the overall size of the component
 */
.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#tomato {
  top: 45%;
}

#relish {
  top: 60%;
}

#pickle {
}

#onion {
}

#bun {
}

#peppers {
}

#salt {
}

.image-container {
}

.selectors {
  left: 0;
}

.selector {
  position: absolute;
  display: flex;
  left: 0;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.selector svg {
  flex: 1 1 100%;
}

.content {
  position: relative;
  float: left;
}

.callout .tail {
  transition: transform 0.25s ease-in;
  transform: scaleX(0);
  stroke: var(--fill-color);
}
.callout.open .tail {
  transform: scaleX(1);
}

.callout .circle {
  transition: fill 0.25s ease-in;
  fill: var(--fill-color);
  stroke: var(--fill-color);
}
.callout.open .circle {
  fill: transparent;
}
