:root {
  --fill-color: brown;
}

#mycontainer {
  /* represents any container the component is inserted into */
  position: relative;
  margin: auto;
}

/**
 * The container for actual product component
 *
 * Controls the overall size of the component
 */
.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#tomato {
  top: 45%;
}

#relish {
  top: 60%;
}

#pickle {
}

#onion {
}

#bun {
}

#peppers {
}

#salt {
}

.image-container {
}

.selectors {
  left: 0;
}

.selector {
  position: absolute;
  display: flex;
  left: 0;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.selector svg {
  flex: 1 1 100%;
}

.selector .content {
  transition: opacity 0.25s ease-in, transform 0.25s ease-in;
  transform: translateX(100%) scale3d(1, 1, 1);
  transform-origin: right;
  opacity: 0;
}

.selector.open .content {
  transform: translateX(0%) scale3d(1, 1, 1);
  opacity: 1;
}

.selector .tail {
  transition: transform 0.25s ease-in;
  transform: scaleX(0);
  transform-origin: right;
  stroke: var(--fill-color);
}

.selector.open .tail {
  transform: scaleX(1) perspective(20px);
}

.selector .circle {
  transition: fill 0.25s ease-in;
  fill: var(--fill-color);
  stroke: var(--fill-color);
}

.selector.open .circle {
  fill: transparent;
}
